<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <httpHandlers>
        <!--微信公众平台消息转发开始-->
        <add verb="*" path="/WeixinMP/*/weixin.aspx" type="Forward80.WeixinMPIISHandler,Forward80"/>
        <!--微信公众平台消息转发结束-->
      </httpHandlers>
    </system.web>
  <system.webServer>
    <handlers>
      <!--微信公众平台消息转发开始-->
      <add name="WeixinMP" verb="*" path="/WeixinMP/*/weixin.aspx" type="Forward80.WeixinMPIISHandler,Forward80"/>
      <!--微信公众平台消息转发结束-->
    </handlers>
  </system.webServer>
</configuration>
